<!--<div class="pip-toggle-buttons layout-row {{toggle.class}}" 
     pip-selected="toggle.bufButtonIndex" 
     pip-enter-space-press="toggle.enterSpacePress($event)"
     ng-if="!toggle.$mdMedia('xs') || toggle.onlyToggle">
    <md-button tabindex="-1" ng-repeat="button in toggle.buttons"
               ng-class="{'md-accent md-raised selected color-accent-bg' : toggle.highlightButton($index)}"
               ng-attr-style="{{ 'background-color:' + (toggle.highlightButton($index) ? toggle.button.backgroundColor : '') + '!important' }}"
               class="pip-selectable pip-chip-button flex" ng-click="toggle.buttonSelected($index, $event)"
               ng-disabled="button.disabled || toggle.disabled()">
        {{button.name || button.title | translate}}
        <span ng-if="button.checked || button.complete || button.filled" class="pip-tagged">*</span>
    </md-button>
</div>

<md-input-container class="md-block" ng-if="toggle.$mdMedia('xs') && !toggle.onlyToggle">
    <md-select ng-model="toggle.currentButtonIndex" ng-disabled="toggle.disabled()" aria-label="DROPDOWN" 
              md-on-close="toggle.buttonSelected(toggle.currentButtonIndex)">
        <md-option ng-repeat="action in toggle.buttons" value="{{ ::$index }}">
            {{ (action.title || action.name) | translate }}
            <span ng-if="action.checked || action.complete || action.filled" class="pip-tagged">*</span>
        </md-option>
    </md-select>
</md-input-container>-->
<div class="pip-toggle-buttons layout-row {{class}}" pip-selected="bufButtonIndex" pip-enter-space-press="enterSpacePress($event)"
     ng-if="$mdMedia('gt-xs') || onlyToggle">
    <md-button tabindex="-1" ng-repeat="button in buttons"
               ng-class="{'md-accent md-raised selected color-accent-bg' : highlightButton($index)}"
               ng-attr-style="{{ 'background-color:' + (highlightButton($index) ? button.backgroundColor : '') + '!important' }}"
               class="pip-selectable pip-chip-button flex" ng-click="buttonSelected($index, $event)"
               ng-disabled="button.disabled || disabled()">
        {{button.name || button.title | translate}}
        <span ng-if="button.checked || button.complete || button.filled" class="pip-tagged">*</span>
    </md-button>
</div>

<md-input-container class="md-block" ng-if="$mdMedia('xs') && !onlyToggle">
    <md-select ng-model="currentButtonIndex" ng-disabled="disabled()" aria-label="DROPDOWN" md-on-close="buttonSelected(currentButtonIndex)">
        <md-option ng-repeat="action in buttons" value="{{ ::$index }}">
            {{ (action.title || action.name) | translate }}
            <span ng-if="action.checked || action.complete || action.filled" class="pip-tagged">*</span>
        </md-option>
    </md-select>
</md-input-container>
