<!DOCTYPE html>
<html class="no-scroll">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="-1">
    <title>Buttons</title>

    <link rel="stylesheet" href="../lib/pip-webui-lib.css"/>
    <!--<link rel="stylesheet" href="../lib/pip-webui-css.css"/>
    <link rel="stylesheet" href="../lib/pip-webui-csscomponents.css"/>    -->

    <link rel="stylesheet" href="../lib/pip-webui-themes.css"/>
    <!--<link rel="stylesheet" href="../lib/pip-webui-layouts.css"/>-->
    <!--<link rel="stylesheet" href="../lib/pip-webui-dates.css"/>-->
    <!--<link rel="stylesheet" href="../lib/pip-webui-nav.css"/>-->

    <link rel="stylesheet" href="../../node_modules/prismjs/themes/prism.css">

    <link rel="stylesheet" href="../dist/pip-webui-buttons.css"/>
    <link rel="stylesheet" href="styles.css"/>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">

    <!--<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>-->
    <script src="https://www.google.com/jsapi"></script>
    <script src="../lib/pip-webui-lib.js"></script>
    <script src="../lib/pip-webui-services.js"></script>
    <!--<script src="../lib/pip-webui-rest.js"></script>-->
    <!--<script src="../lib/pip-webui-data.js"></script>    -->
    <!--<script src="../lib/pip-webui-layouts.js"></script>-->
    <!--<script src="../lib/pip-webui-nav.js"></script>-->
    <script src="../lib/pip-webui-themes.js"></script>
    <!--<script src="../lib/pip-webui-dates.js"></script>-->
    <script src="../dist/pip-webui-buttons.js"></script>

    <script src="../../node_modules/prismjs/prism.js"></script>

    <script src="refresh_sample/refresh.js"></script>
    <script src="toggle_buttons_sample/toggle_buttons.js"></script>
    <script src="action_list_sample/action_list.js"></script>
    <script src="drilldown_list_sample/drilldown_list.js"></script>
    <script src="fabs_sample/fab_tooltip_visibility.js"></script>
    <script src="index.js"></script>

</head>

<body ng-app="appButtons" ng-if="!$reset" ng-controller="pipSampleController"
     class="pip-main layout-column {{$theme}}" md-theme="{{$theme}}">
<md-toolbar >
    <div class="layout-row layout-align-start-center">
        <md-button class="md-icon-button" aria-label="MENU" ng-if="!$mdMedia('gt-sm')" ng-click="onToggleMenu()">
            <md-icon md-svg-icon="icons:menu" ></md-icon>
            </md-button>
        <div class="md-toolbar-tools">
            <div class="flex-var text-overflow">Buttons</div>
        </div>

        <md-menu md-position-mode="target-right target" ng-if="isTheme">
            <div class="layout-row layout-align-start-center" style="  cursor: pointer;outline: none; margin-right: 16px;"
                      ng-click="$mdOpenMenu()"
                      aria-label="theme selection">
                    <span style="white-space:nowrap;">
                        {{ $theme | translate}}
                    </span>
                    <md-icon md-svg-icon="icons:triangle-down"></md-icon>
            </div>
                <md-menu-content width="3">
                    <md-menu-item ng-repeat="theme in themes">
                        <md-button ng-click="onThemeClick(theme)">{{theme | translate}}</md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>

        <md-menu md-position-mode="target-right target" ng-if="isTranslated">
            <div class="layout-row layout-align-start-center" style="  cursor: pointer;outline: none; margin-right: 16px;"
                      ng-click="$mdOpenMenu()"
                      aria-label="language selection">
                    <span >
                        {{ $language | translate}}
                    </span>
                    <md-icon md-svg-icon="icons:triangle-down"></md-icon>
            </div>
                <md-menu-content width="3">
                    <md-menu-item ng-repeat="lang in languages">
                        <md-button ng-click="onLanguageClick(lang)">{{lang | translate}}</md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
    </div>
</md-toolbar>

<div class="layout-row flex">
    <md-sidenav md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')"
                class="md-whiteframe-z2 md-sidenav-left layout-column color-content-bg">
        <md-list>
            <md-list-item ng-repeat="contentItem in content"
                          ng-click="onSwitchPage(contentItem.state)"
                          ng-class="{ 'selected-state': isActiveState(contentItem.state) }">
                <p ui-sref="{{contentItem.state}}">{{contentItem.title}}</p>
            </md-list-item>
        </md-list>
    </md-sidenav>

    <md-content id="content" class="p24-flex flex">
        <div ui-view ></div>
    </md-content>
</div>
</body>
</html>