.pip-content-container .scrolled {
    overflow-y: auto;
}

@media (min-width: 769px) {
    .pip-content-container {
        max-width: calc(100% - 300px) !important;
    }
}

.pip-sample-pic {
	max-width: 400px;
}

pre {
    border-radius: 4px;
}

.flat {
    box-shadow: none !important;
}

/* -------- */
.h72 {
    height: 72px!important;
} 
.m0 {
    margin: 0px!important;
}
.bm8 {
    margin-bottom: 8px!important;
}
.h48 {
    height: 48px!important;
}

.p24-flex {
    padding: 24px!important;
}
.tm8 {
    margin-top: 8px!important;
}
.tm0 {
    margin-top: 0px!important;
}
.bm24 {
    margin-bottom: 24px!important;
}
.p16 {
    padding: 16px!important;
}
.m0 {
    margin-left: 0px!important;
}